<html>
    <head>
        <link rel="stylesheet" href="/movies.css">
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <%- include("back/backBtn.ejs") %>

            <% if (title == "Add Movie") { %>
                <form action="/add_movies" method="POST" enctype="multipart/form-data">
            <% } else { %>
                <form action="/edit_movie/<%= movieId %>" method="POST" enctype="multipart/form-data">
            <%} %>  
            <%- include("err/errors.ejs") %>
            <div class="all-container">
                    <div class="movie">
                        <label for="movie_name">Movie title</label>
                        <input type="text" name="movie_name" id="movie_name" value="<%= movie_value %>">
                    </div>
                    <div class="genre">
                        <label for="genre">Genre</label>
                        <div class="genre-container">
                            <% genres.forEach((genre) => { %>
                                <% const isChecked = selectedGenres.some(sg => sg == genre.id); %>
                                <div>
                                    <input 
                                        type="checkbox" 
                                        name="genre_option[]" 
                                        id="genre_<%= genre.id %>" 
                                        value="<%= genre.id %>"
                                    <%= isChecked ? "checked" : "" %>>
                                    <label for="genre_<%= genre.id %>"><%= genre.genre_name %></label>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="poster">
                        <label for="poster">Poster</label>
                        <input type="file" name="poster" id="poster" accept=".jpg, .jpeg, .png">   
                    </div>
                    <div class="submit-btn">
                        <button type="submit"><%= (title == "Add Movie") ? "Add Movie" : "Edit Movie" %></button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>