<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <form action="/edit_movie/<%= movieId %>" method="POST">
                <label for="movieName">Movie Name</label>
                <input type="text" name="movieName" id="movieName" value="<%= movieName %>">
                <label for="genre">
                    <div class="container">
                        <% genres.forEach((genre) => { %>
                            <div>
                                <% const isChecked = selectedGenres.some(sg => sg.genres_id === genre.id); %>
                                <input type="checkbox" 
                                name="genre_option[]" 
                                id="genre_<%= genre.id %>"
                                value="<%= genre.id %>"
                                <%= isChecked ? "checked" : "" %>>
                                <label for="genre_<%= genre.id %>"><%= genre.genre_name %></label>
                            </div>
                        <% }) %>
                    </div>
                </label>
                <label for="poster">Poster</label>
                <input type="text" name="poster" id="poster" value="<%= poster %>">
                <button type="submit">Edit movie</button>
            </form>
        </div>
    </body>
</html>