<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/add_genres">
                    <button>Add</button>
                </a>
            <% genres.forEach((genre) => { %>
                <form action="/genres/<%= genre.id %>" method="GET">
                    <button type="submit"><%= genre.genre_name %></button>
                </form>
                <a href="/edit_genres/<%= genre.id %>">
                    <button>Edit</button>
                </a>
                <form action="/<%= genre.id %>/delete" method="POST">
                    <button type="submit">Delete</button>
                </form>
            <% }) %>
        </div>
        <div>
            <% if (movies && movies.length) { %>
                <% movies.forEach((movie) => { %>
                    <div>
                        <p><%= movie.movie_name %></p>
                        <p><%= movie.poster %></p>
                    </div>
               <% }) %>
           <% } %>
        </div>
    </body>
</html>